@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  em {
    @apply font-bold not-italic;
  }

  a {
    @apply underline underline-offset-2 text-blue-900;
  }

  @font-face {
    font-family: 'Lora';
    src: url('$lib/assets/fonts/Lora.woff2') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('$lib/assets/fonts/Lato/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato Hairline';
    src: url('$lib/assets/fonts/Lato/Lato-Hairline.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('$lib/assets/fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('$lib/assets/fonts/Lato/Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('$lib/assets/fonts/Lato/Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: 'Lato', system-ui, sans-serif;
  }
}
